version: "3.9"

services:
  supermarket:
    image: supermarket
    container_name: supermarket
    build: .
    ports:
      - "8080:8080"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 3